In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import ipywidgets as widgets
from IPython import display

### Creating a Pandas DF from scratch

In [13]:
#Create a DF to work with
#from dictionary to pandas DF:
dict = {
    'rank': np.array([7,5,6,7,5,9]),
    'sex': [1,0,1,1,0,1],
    'location': ['NL','WL', 'EL', 'WL'
                 , 'SL', 'CL']
}

df = pd.DataFrame(dict, index =['p1', 'p2','p3'
                                , 'p4','p5', 'p6'])
print(df)

    rank  sex location
p1     7    1       NL
p2     5    0       WL
p3     6    1       EL
p4     7    1       WL
p5     5    0       SL
p6     9    1       CL

In [25]:
#Another way of making a DF
#Each variable(s1-s3) represents an individual case
#e.g. p1 from the table above is = s1 , s2=p2 etc.:

s1,s2,s3 = [7,1,'NL'] , [5,0,'WL'] , [6,1,'EL']
series = [s1,s2,s3]
df2 = pd.DataFrame(np.array(series)
                   ,index= ['p1', 'p2','p3']
                   ,columns= ['rank', 'sex','location'])
print(df2)

   rank sex location
p1    7   1       NL
p2    5   0       WL
p3    6   1       EL

In [14]:
#Making new Dataset for examples
np.random.seed(25)
x = np.random.rand(16).reshape((4,4))

df3 = pd.DataFrame(x, index = ['r1', 'r2', 'r3', 'r4']
                   , columns =['c1','c2','c3','c4'])

widget = widgets.Output()
with widget:
    display.display(df3)
    
hbox = widgets.HBox([widget])
hbox

HBox(children=(Output(),))

### Selecting/retrieving data

In [6]:
#How to call a row from a 1dimensional table
#firstly create a 1d table:

ser = Series(np.arange(5), index=['r1', 'r2', 'r3', 'r4', 'r5'])
print(ser)

r1    0
r2    1
r3    2
r4    3
r5    4
dtype: int32

In [26]:
#take df3, a 4x4 table,
#call row2, column3:
print(df3.iloc[1:2,2:3])


#segment a part of df3
print(df3.iloc[2:4,0:3])

          c3
r2  0.684969
          c1        c2        c3
r3  0.556229  0.367080  0.402366
r4  0.447031  0.585445  0.161985

### Data Slicing

In [13]:

#Index a DF with laballed rows and columns:
#print(df3.ix[['r1', 'r2'],['', 'sex']])

#Using iloc and loc functions for indexing:

df3split = (df3.iloc[2:4, 1:3])
print(df3split)

          c2        c3
r3  0.367080  0.402366
r4  0.585445  0.161985

### Comparing with scalars

In [11]:
print(df3<.2)

       c1     c2     c3     c4
r1  False  False  False   True
r2  False   True  False  False
r3  False  False  False   True
r4  False  False   True  False

### Setting values with scalars

In [15]:
print(df3)

          c1        c2        c3        c4
r1  0.870124  0.582277  0.278839  0.185911
r2  0.411100  0.117376  0.684969  0.437611
r3  0.556229  0.367080  0.402366  0.113041
r4  0.447031  0.585445  0.161985  0.520719

In [23]:
(df3.iloc[1:2,1:2]) = 0.110000
print(df3)

          c1        c2        c3        c4
r1  0.870124  0.582277  0.278839  0.185911
r2  0.411100  0.110000  0.684969  0.437611
r3  0.556229  0.367080  0.402366  0.113041
r4  0.447031  0.585445  0.161985  0.520719

### Treating missing values: missing data

In [30]:
#creating missing values in df3:
missing = np.nan

df3.iloc[1:2,3:4] = missing
df3.iloc[3:4,0:1] = missing ,
print(df3)

          c1        c2        c3        c4
r1  0.870124  0.582277  0.278839  0.185911
r2  0.411100  0.110000  0.684969       NaN
r3  0.556229  0.367080  0.402366  0.113041
r4       NaN  0.585445  0.161985  0.520719

In [31]:
#checking what a null value is.
df3.isnull()

       c1     c2     c3     c4
r1  False  False  False  False
r2  False  False  False   True
r3  False  False  False  False
r4   True  False  False  False

In [ ]:
#filling in missing values: